@media only screen and (min-device-width: 700px) and (max-device-width: 2000px) {
    body {
        text-align: center;
        background-image: url(./eecb19a7a4a6aed08dc9abd6238616ec.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: black;
        font-weight: bold;
    }

    li {
        font-size: 70px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }

    button {
        background-color: blue;
        border: none;
        color: white;
        font-size: 60px;
    }

    footer {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        font-weight: bold;
    }
}

@media only screen and (max-device-width: 640px) {
    body {
        text-align: center;
        background-image: url(./eecb19a7a4a6aed08dc9abd6238616ec.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: black;
        font-weight: bold;
    }

    main {
        position: relative;
        top: 25px;
        height: 100vh;
        margin: 15px;
    }

    li {
        font-size: 70px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }

    button {
        background-color: blue;
        border: none;
        color: white;
        font-size: 60px;
    }

    footer {
        font-size: 30px;
        font-weight: bold;
    }
}